Package: drive-indexer
Version: 1.0
Architecture: amd64
Section: x11
Esential: no
Installed-Size: 99659
Priority: optional
Maintainer: Ovidiu Pop <ovidiupop70@gmail.com>
Description: Find your files in a second
 If you are like me and have a big collection of old drives where you keep all your history, documents, work, pictures, favorite music and movies, then you never know exactly where to find them when you needs.
 Now, you can find anything in a second!
